*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}


.header{
    width:100vw;
   max-height: 100vh;
    position: relative;
}

.header-container{
    z-index:2;
    width:100vw;
    min-height:100px;
    background: rgb(8, 2, 41);
    color:white;
}
.header-container > div{
    width:100vw;
    height:inherit;
    display: flex;
}
.header-top-left{
    width:34vw;
    height: inherit;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    
}
.logo{
    width:100px;
    height:auto;
}
.logo-container{
    width:calc(34vw - 100px);
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    align-items: center;
    align-content: space-around;
    height:fit-content;
}
.company-name{
    font-size: 28px;
}
.header-top-right{
    width:60vw;
    height: inherit;
    
}
.nav-close{
    display: inline;
  opacity:0;
}
.nav{
    width:60vw;
    height:inherit;
    display: flex;
   margin-right:0;
}

.nav-navbar{
    
    background-color: rgb(8, 2, 41);
    width:calc(60vw - 140px);
    font-size: 14px;
    height: 100px;
    display: flex;
     position: relative; 
    justify-content: space-around;
    align-content: center;
    align-items: center;
    text-align: center;
}

 .nav-list{
    list-style: none;
}

.nav-navbar > div{
    height:100px;
    width:120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.nav-list a{
    text-decoration: none;
    color:white;
    
}
#toggle:target{
    visibility: hidden;
}
#close:target{
    visibility: visible;
}
#toggle-btn{
    display:none;
       width:0;
   height:0;
   
}
.login{
    width:150px;
    height:100px;
    display: flex;
    flex-direction: row;
    min-height:100px;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    padding:10px 5px;


}

.header-bg{
    height: calc(100vh - 100px);
    width: 100vw;
    z-index: -1;
    background: url('./img/header-bg.jpg') fixed no-repeat;
    background-size: cover;
    overflow: hidden;
}
.header-main{
        background:rgba(200,200,200,0.3);
        position: absolute;
       display:flex;
       justify-content: center;
       align-items: center;
       align-content: center;
       padding:0 15%;
        top:100px;
        left:0;
        height:  calc(100vh - 100px);
        width: 100vw;
}
.services-img{
    width: 100vw;
    height: 100vh;
    background: url('./img/services-2.jpg') fixed no-repeat;
    background-size: 100vw 100vh;
}

.main-img-desc{
    width: 100%;
    height: 100%;
    background:#f1f1f182;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-img-desc > div{
    width: 60%;
    height: auto;
    font-size:1.6em; 
    letter-spacing: 2px;
    word-spacing: 3px;
}

/* Login Form */

.login-form{
    position: absolute;
    top:0px;
    left:0px;
   
    min-height: fit-content;
    
}
.signin-form{
    position: absolute;
    top:0px;
    left:0px;
    min-height: fit-content;
}
.login-form,.signin-form{
   visibility: hidden;
   z-index:3;
    width:100vw;
  
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
    min-height:60vh;
    padding-top: 5%;   
}

.login-form-container,.signin-form-container{
 
    background:#e5e5e5;
    width:60%;
    border-radius:10px ;
    min-height:90%;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 30px auto 0 auto;
}

.signin-form{
    min-height: 140%;
}
.signin-form-container{
   
    align-content: flex-start;
}

.login-form-header,.signin-form-header{
    width:97%;
    
}
.login-form-header h2,.signin-form-header h2{
    font-size: 24px;
    width:85%;
    height:80px;
    padding:20px 10px 40px 40px;
    float:left;
   
}
.login-form-header span,.signin-form-header span{
    width:auto;
    display: block;
    padding-top:20px;
    padding-right:-75px;
    float:right;
}
.login-form-header span a,.signin-form-header span a{
    color:black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
}
.login-form-main,.signin-form-main{
    width:50vw;
    height: fit-content;
    border-top: 2px solid green;
    min-height:200px;
    padding:50px;

}
.login-form-main label, .login-form-main input,
.signin-form-main label,.signin-form-main input{
    width: 100%;
    display:block;
    margin: 20px 50px;
}
.login-form-main input, .signin-form-main input{
    width:70%;
    padding:5px 10px;
    border-radius:5px;
}
.login-form-main input[type="submit"], .signin-form-main input[type="submit"]{
    color:#4910b4c2;
    border:2px solid #4910b4c2;
}
.login-form-main input[type="submit"]:hover, .signin-form-main input[type="submit"]:hover{
    color:#e5e5e5;
    border:2px solid #4910b4c2;
    background-color: #4910b4c2;
}
.login-form-container{

    z-index:5;
}

#login:target{

    visibility: visible;
}
#signin:target{
    visibility: visible;
}
#login-close:target{
    visibility: hidden;
}
#signin-close:target{
    visibility: hidden;
}

.log-switch{
    border-top:2px solid green;
    padding:20px 5px;
    text-align: center;
}
.log-switch a{
    color: purple;
    text-decoration: none;
}
.log-switch a:hover{
    text-decoration: underline;
}
.log-form-title{
    text-align: center;
    margin-bottom:20px ;
    color:green;
    font-size: 28px;
}
/* slider */
.slider{
    position: relative;
    width:100vw;
    overflow: hidden;
    height:calc(100vh - 80px);
}
.slider-img-container{
    position: absolute;
    width:302vw;
    height:calc(100vh - 80px);
    animation: slider 12s 1;
    animation-delay: 5s;
    top:0;
    left:0;

}
.slider-img-container img{
    opacity: 0.7;
    width:100vw;
    height:100%;
 
}
.slider-btn-container{
    width:100vw;
    height:50px;
    background:rgba(200,200,200,0.6);
}
.slider-btn{
    width:100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.slider-btn > span a{
    display: block;
    width:15px;
    height:15px;
    border-radius: 50%;
    margin:0 10px;
    background-color: grey;
}

/* main content */
.main{
    width:100vw;
    height:fit-content;
}
.main-title{
    width: 100%;
    height: fit-content;
}
.main-title h1{
    width: fit-content;
    margin: 5px auto;
}

.main-container{
    width:100%;
    height: auto;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    background:#e9e9e9;

}
.main-container-grid:nth-child(even){
    background-color:#e9e9e9;
}
.main-container-cont-1{
    width: 60%;
   min-height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    text-align: justify;
    flex-direction: column;
}
.main-container-cont-1 > div{
    display: flex;
    width: 100%;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}
.man-list{
    width: 100%;
    height: auto;
}
.main-list ul li{
    padding: 5px 0;
    
}
.main-title .title{
   color:#4910b4;
   font-size:24px;
}
.main-container-grid{
    width: 50%;
    height: 100vh;
    margin: auto; 
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: center;
    align-content: space-around;

}
.main-grid-item{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 50px 10px;
    background-color: #e5e5e5;
}
.main-img-container{
    width:80%;
    height: auto;
    margin:auto;
    display: grid;
    grid-template-columns: auto auto auto;
}
.main-grid-item{
    width: 80%;
    min-height:80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    box-shadow: -10px 10px 7px #ccccccaa, 10px -10px 7px #ccccccaa;
}
.main-grid-item > div{
    padding: 20px 10px;
}
.main-grid-item:hover{
    box-shadow: -15px 15px 10px #ccccccaa, 15px -15px 10px #ccccccaa, 15px -15px 10px #ccccccaa;
    transition-property: a;
    transition:  2s;
}
.main-grid-item img{
    width:60%;
    display: block;
    height:auto;
    margin: auto;
}
.main-grid-item > div  p{
    width:70%;
    margin:auto;
    font-size: 16px;
}
.main-header{
    width: 100%;
    height: 100vh;
    background:#12345677 url('./img/healthcare.jpg')  fixed;
    display:flex;
    flex-direction: column;
}
.main-container-cont-1{
    
    height: 60%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.main-img{
    width:100%;
    height: 100vh;
    position: relative;
    background:#ccc url('./img/coronavirus-line-art-5019475_1280.png') fixed;
    background-size: cover;
}

.main-header-count{
    font-size:24px;
}

.main-split-container{
    width: 100vw;
    height: 100vh;
    display:grid;
    grid-template-columns: auto auto;
    justify-content:center;
    align-items: center;

    font-size: 3em;
    grid-gap: 30px;
}
/*
.main-split-container > div{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: left;
}
*/
.main-split-container > div{
   width:35vw;
    display: grid;
    grid-template-columns: auto;
    justify-content: flex-start;
    background: transparent;
    align-items: flex-start;
    text-align: center;
    grid-column-gap: 100px;

    
}
.main-split-container > div ul,
.main-split-container > div ul li{
    margin-left:20px;
    font-size:1.2em;
    text-align: justify;
    padding: 8px 5px;
}
.main-split-container > div{
    margin:10px;
}
.main-content-title{
    text-align: left;
    margin: 15px 0;
    font-size: 20px;
    text-transform: capitalize;
    color:rgb(238, 131, 10);
}

/* Gallery */
.home-gallery{
    width:90vw;
    max-height:350vh;
   display:grid;
   grid-template-columns: auto auto auto ;
   justify-content: center;
   align-content: center;
   align-items: center;
    margin:auto;
}
.home-gallery-container {
    position: relative;
    width:250px;
    margin:20px;
    height:250px;
}
.home-gallery-container:hover{
    transform: rotateY(180deg);
    transition-property: width;
    transition-duration: 6s;

}
.home-gallery-container:hover .gallery-desc{

    transform: rotateY(-180deg);
}
.home-gallery-container > .gallery-img{
    width: 250px;
    height: 250px;
}
.gallery-img img{
    width:250px;
    height:250px;
}
.gallery-desc{
    position: absolute;
    top:0;
    opacity: 0;
    left:0;
    padding: 90px 45px;
    width: 250px;
    height: 250px;
    text-align: center;
    z-index: 2;
}

.gallery-desc:hover{
    background: #4910b4;
    border:2px solid rgb(238, 131, 10);
    transition: 1s;
    cursor: pointer;
    color:white;
    opacity: 1;
}

/* Footer */
.footer{
    width:100vw;
    max-height:200vh;
    background: rgb(8, 2, 41);
    color:white;
    
}
.footer-top{
    
    width:inherit;
    max-height: 300px;
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 10px;
}
.footer-top-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    align-content: center;
    
}
.footer-logo-info{
    padding:5px 5px 5px 15px;
}
.footer-top-right{
    
    display: flex;
    flex-direction: row;
}
.footer-sm{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    text-align: center;
}
.footer-logo{
    width:60px;
    height: auto;
}
.sm-links{
    width:60px;
    height:60px;
}
.footer-contact{
    width:fit-content;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;

}
.footer span{
    padding: 5px 10px;
}
.map{
    width:100vw;
    margin:0;
    height:fit-content;
    overflow-x: scroll;
}

.img-container img{
    margin:0;
    width:auto;
    height: auto;
    
}
.img-container{
    width: fit-content;
    height: auto;
    margin: auto;
    padding: 10px 0 0 0;
    
}
.map > h2{
    border-top:1px solid white;font-size:25px;padding:20px;text-align: center;
}

/* Healthcare */
.health-header-bg{
    background: url('./img/healthcare.jpg') no-repeat fixed;
    background-size:cover;
    width:100vw;
    height:calc(100vh - 100px);
}
.health-main-img{
    width: 70%;
    min-height: 100px;
    padding:20px 25px; 
    margin: auto;
}
.health-main-img > img{
    width:80%;
    display: block;
    height:auto;
    margin:auto;
}
.health-main{
    width: 100vw;
    height: fit-content;
}
.main-title {
    font-size:22px;
    padding:20px 0;
    text-align: center;
}
.health-main-container{
    width:80%;
    min-height: 110vh;
    margin:auto;
    display:grid;
    grid-column: 2;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto ;
    padding: 50px 0 0 0;
    grid-gap: 0;
    justify-content: space-around;
    align-items: center ;
  
    background: #e5e5e5;
    
}
.health-main-container > .grid-1{
   width: 90%;
   margin: auto;
   line-height: 1.7;
   padding:30px;
   background: #f1f1f1;
}
.health-img{
    width: 100%;
    height: 100vh;
    background: url('./img/health-bg.jpg') fixed no-repeat;
    background-size: cover;

}
/* Services */
.services-header-bg{
    background: url('./img/services-3.jpg') no-repeat fixed;
    background-size:cover;
    width: 100vw;
    height:calc(100vh - 100px);
}
.service-quote > q{
    display: block;
    width:60%;
    margin:auto;
}
.service-container  p,
.service-container  ul
,.service-container  div{
    width:100%;
}

.services-main-container{
    width: 90%;
    margin:auto;
    min-height:100vh ;
}
.services-main-container .main-content-title{
    width: fit-content;
    text-align: center;
    margin: 10px auto;
    padding:10x 0;
    border-bottom: 2px solid #4910b4;
    color:#4910b4;

}
.services-grid{
    width: 100%;
    height: auto;
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: flex-start;
    grid-gap:50px;
}
.services-grid > div{
    width: 90%;
    height: auto;
    background: #f1f1f1;
}
.services-grid .services-main-img img{
    height:30vh;
    display:block;
    margin: 10px auto;
}
.services-cat{
    width: 100vw;
}
.service-cont-2{
    
    min-height: 100vh;
    display: grid;  
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    margin-top: 30px;
}
.service-cont-2 > div{
    display: grid;
}
.services-cont-2-grid-1{
   
    display: grid;
    grid-template-columns: auto ;
    justify-content: center;
    align-items: center;
    
}
.services-cont-2-grid-2{
    
    display: grid;
    width: 100%;
    min-height: 30vh;
    grid-template-columns: auto ;
    grid-gap: 20px;
}


.health-cont-2{
    width: 90%;
    margin: auto;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
}
.health-grid{
    width: 100%;
    margin: 10px 20px;
}
.health-grid-1{
    display: grid;
    width:70%;
    background: #f1f1f1;
    margin: auto;
    justify-content: center;
}
.sub-list, .main-list{
    padding:20px 0;
}
.sub-list li > span , .main-list li > span{
    color: #000;
}
.sub-list li{
    margin-left:50px;
    line-height: 1.5;
    color:#4910b4;
}
.health-cont-2 h2{
    text-align: center;
}
.health-cont-2 .main-title > h1{
    color:#4910b4;
    padding-bottom: 15px;
    font-size:24px;
    border-bottom: 2px solid #4910b4;
}

.main-list{
    margin-left:20px;
    line-height: 1.5;
    color: rgb(238, 131, 10);
}
.health-grid-1 .main-list{
    width: 50%;
    
    margin: auto;
}
.health-grid-2{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    padding-bottom: 50px;
}
.health-grid-2 > div{
    width: 90%;
    min-height: 50vh;
    background: #f1f1f1;
}
.health-grid-2 .health-main-img > img{
    width: 100%;

}
.health-grid-2 p {
    width: 80%;
    margin: auto;
    padding:20px;
    text-align: justify;
}
/* about us */
.about-header-bg{
    background: url('./img/services-header-bg.jpg') no-repeat fixed;
    background-size:cover;
    width:100vw;
    height:calc(100vh - 100px);
}
.growth-content{
    width:100vw;
}
.about-img-container{
    
    width:80vw;
    margin:auto;
}
.about-img-container img{
    width: 100%;
}
.about-main{
    width: 100vw;
    height: auto;

}
.about-main-header{
    width:100%;
    height: auto;
    margin: 15px 0;
}
.about-main-header h2{
    width: fit-content;
    padding: 10px 40px;
    border-bottom: 2px solid #4910b4;
    color: #4910b4;
    margin: auto;
}

.about-main-container{
    width: 85%;
    margin: auto;
    min-height: 60vh;
    text-align: justify;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap:30px;
    box-sizing: border-box;
}
.about-main-container > div{
    width: 100%;
    padding: 25px;
    height: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:#f1f1f1;
    z-index: 2;
}
.about-main-container > div h2{
    width: fit-content;
    margin: 15px auto;
}
.about-main-container > div p{
    width: 90%;
    text-align: justify;
    margin: auto;
}
.about-main-container > div:hover{
    background:#e5e5e5;
    width: 100%;
    cursor: pointer;
    padding: 50px;
    z-index: 3;
}
.about-main-container > div:hover + div,
.about-main-container > div:hover ~ div{
    padding: 20px;
    width: 95%;
}
.about-main-cont{
    width: 80%;
    height: 100vh;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #f1f1f1;
    padding: 20px;
}
.about-main-cont > div{
    width: 70%;
    text-align: justify;
    height: fit-content;
    line-height: 1.7;
}
.growth {

    width:auto;
    height: auto;


}
/* Contact us */

.donate-us{
    width:65vw;
    position: relative;
    margin: auto;
    background-color: #eee;
}
.donate-title{
    width:100%;
}
.donate-us input
{
    border-radius: 30px;
}
.contact-main{
    min-height: 30vh;
    overflow: hidden;
}
.donate-us input,
.donate-us label,
.donate-us select{
    width: 80%;
    
    display: block;
    padding: 10px 20px;
    margin: 15px auto;
}
.donate-us input[type="submit"]{
    width:40%;
    background-color: #4910b4c2;
    margin: 15px auto;
    color:#fff;
}
.donate-us:nth-child(1){
    color: red;
}
.donate-us form a{
    
    font-size: 18px;
    text-decoration: none;
}
.donate-us form a:hover{
    text-decoration: none;
}

.pay-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #4910b4c2;
    color: #e5e5e5;
    text-align: center;
    margin: auto;
}
.pay-title:nth-child(odd){
  width: 100%;
  height: 80px;
}
.pay-title:nth-child(even){
    width: 90px;
}
.donate-us form{
    width:75%;
    
}
.pay-option{
    width: 100%;
    margin: auto;
    height: auto;
    background: #e5e5e5;
    color: #4910b4c2;
    position: relative;
}
.pay-option:hover{
    background:#4910b4c2;
    
}
.pay-option h2{
    color: #4910b4c2;
    
}
.donate-us form{
    width:80%;
    margin: auto;
}
.pay-option:hover h2,
.pay-option:hover i,
.pay-option:hover a

{   
    color:#e5e5e5;
    
}

.debit-container{
    display:none;
}

.credit-container{
    display: none;
}
.pay-down{
    position: absolute;
    right: 40px;
    top:20px;
}
#credit-card:target > .credit-container,
#debit-card:target > .debit-container{
    display: block;
}

.donate-title a{
    display: block;
    width: 100%;
    text-align: center;
    color: #e5e5e5;
    text-decoration: none;
}


/*
.slider-1{
    top:0;
    left:0;
}
.slider-2{
    top:0;
    left:100vw;
}
.slider-3{
    top:0;
    left:200vw;
}
*/
/* Media queries */

@media(max-width:1080px){
    *{
        font-size: 1rem;
    }
    .header-container{
        width:100vw;
        max-height:200vh;
    }
    .header-container > div{
        flex-direction: column;
        height:100px;
    }
    .header-top-left{
        width:100vw;
        justify-content: flex-start;
    }
    .header-main{
        height: 100vh;
    }
    .header-top-right{
        width:auto;
        min-height:10px;
        
    }
    .logo-container{
        width:fit-content;
    }
    .nav{
        display: block;
    }
    #close{
        
        visibility: hidden;
    }
    .nav-close{
      
        opacity: 1;
        position: absolute;
        width:80px;
        height: 30px;
        Left:20px;
        top:20px;
        
    }
    .nav-close a{
        
        font: 22px sans-serif;
        margin-top:-40px;
        margin-left:-20px;
    }
    .nav-navbar{
        width:100vw;
        flex-direction: column;
        min-height:350px;
        z-index: 4;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;
        padding:10px 5px;


    }
    .login-form{
        position: absolute;
        top:150px;
        left:20px;
    }
    .signin-form{
        position: absolute;
        top:80px;
        left:25px;
        margin:auto;
    }
    
    .login{
        position: absolute;
        top:0;
        right:85px;
    }
 
    .nav-navbar:target {
        display: none;
        width:0px;
        height:0px;
    }
    .nav-navbar > div{
        position: absolute;
        top:0px;
        right:95px;
    }
    .togglebar{
        width:40px;
        height: 40px;
        background-color: red;
        position: absolute;
        top:23px;
        right:50px;
    }
    .togglebar > span{
        width:25px;
        height:3px;
        display: block;
        background-color: white;
        margin: 7px 6.5px;
    }
    #toggle-btn{
        display: block;
        width:40px;
        height: 40px;
       padding: 0px 10px;
        position: absolute;
        top:20px;
        right:50px;
        color:red;
       
        opacity: 0;
        
    }
    #toggle-btn a{
        font-size: 34px;
    }
    
    /* main */

    .main-container-grid{
        width:100%;   
         height: fit-content;
        margin: 30px auto;
    }
    .main-grid-item{
        min-height: 60vh;
    }

    .main-grid-item > div{
        
        text-align: justify;
       
    }
    .main-grid-item > div p{
        font-size: 18px;
        line-height: 1.5;
    }
    .main-split-container{
        width: 90vw;
        height: fit-content;
        margin:0;
        display: block;
    }
    .main-split-container > div{
        width: 100%;
        height: fit-content;
        padding: 20px 0 0 40px;
    }
    .header-bg {
        max-height: fit-content;
        z-index: 2;
    }
    .health-header-bg {
        width:100vw;
        height: 80vh;
      
    }
    .health-main-container{
        width: 100%;
        min-height: 100vh;
    }
    .health-main-container .grid-1{
        margin-top: 10px;
        margin-bottom: 10px;
        min-height: 40vh;
    }
    .health-grid-2{
        margin: 0;
        grid-template-columns: auto auto;
    }
    .health-grid-2 img{
        width: 100%;
        height: auto;
    }
    .health-grid-2 > div{
        width: 90%;
        min-height: 40vh;
        margin: auto;
    }
    .main-img-desc{
        width:90%;
        margin: auto;
    }
    .main-img-desc > div{
        font-size: 20px;
        height: fit-content;
        text-align: justify;
    }

    
    .services-grid{
        width: 80%;
        grid-template-columns: auto;
        justify-content: center;
        grid-gap: 30px;
        height: fit-content;
        margin: auto;
    }

    .services-grid > div{
        width: 95%;
        height: auto;
        margin:10px auto;
        padding: 10px;
        text-align: justify;
    } 
    .services-grid  p{
        width: 85%;
        margin: 5px auto;
    }
    .services-grid .services-main-img > img{
        width: 80%;
    }
    .signin-form, .login-form{
        width:90vw;
        margin:auto;
        padding-top:50px;
    }
    .service-cont-2{
        height: fit-content;
        justify-content: center;

    }
    .service-cont-2 > div{
        height: fit-content;
    }

    .about-main-container{
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        padding: 50px 0 0 0 ;
        min-height: 60vh;
        align-content: flex-start;
    }
    .about-main-container > div{
        width: 100%;
       min-height: 30vh;
        padding: 15px;
    }
    .about-main-cont{
        height: auto;
    }
    .login-form-main label, .login-form-main input,
.signin-form-main label,.signin-form-main input{
    width:fit-content;
    margin:15px;

}
.login-form, .signin-form{
    top:50px;
    max-height: 170vh;
}
.login-form-container,.signin-form-container{
   height: fit-content;
    width:90%;
    margin:0 auto;
    
}
.login-form-container > div,.signin-form-container > div{
    width: 90%;
}
.login-form-main input, .signin-form-main input{
    width:100%;
}
.log-form-title{
    text-align: center;
    margin-bottom:20px ;
    color:green;
    font-size: 22px;
}
  .signin-form-main,
  .login-form-main{
      width: 90%;
      overflow-x: hidden;
      margin-left: auto ;
      margin-right: auto;
  }  
.log-form-title {
    width: 80%;
    margin: 15px auto;
}
.login-form-header,
.signin-form-header{
    width:50vw;
    text-align: center;
    margin: auto;
}
    .sm-links{
        width:35px;
        height:35px;
    }
    .footer-sm{
        flex-direction: column;
    }
    .footer-contact > div{
        width:50%;
        text-align: center;

        display: flex;
    }
    .footer-contact > div >span{
        width: 90px;
    }
    .img-container{
        width:100%;
        overflow:scroll;
    }
    .home-gallery{
        width: 70vw;
        grid-template-columns: auto auto  ;
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }
    .home-gallery-container > .gallery-img{
        width: 180px;
        height: 180px;
    }
    .home-gallery-container{
        width: 180px;
        height: 180px;
        margin:5px auto;
        padding:0;
        margin-bottom: 20px;
    }
    
    .gallery-img img{
        width: 180px;
        height: 180px;
    }
    .gallery-desc{
        margin:0;
        width: 180px;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:0;
   
        
    }
   
   
    .growth {

        width:100vh;
        height: 100%;
    
    
    }
   
    .donate-us{
        width: 100%;
        overflow: hidden;
    }
    .donate-us form label,
    .donate-us form select,
    .donate-us form input,
    .donate-us div{
       width: 100%;
       margin:5px;
         padding: 8px;
   }
   .pay-down{
       width: auto;
       top:15px;
       right: -30%;
   }
   .pay-option h2{
    width:auto;
    text-align: left;
    padding-left: 30px;
   }
   .footer{
    width:100vw;
   
}

.footer-top{
    width: 100%;
    height: auto;
    grid-template-columns: auto auto;
    justify-content:center;
    align-content: flex-start;
    align-items: center;



}
.footer-top > div{
    margin: 10px;
}
.footer-top-left{
    width: 100%;
   margin: 10px;
}
.footer-top-right{
    flex-wrap: wrap;
}
.footer-sm{
width: 100%;
   margin: auto;
   justify-content: center;
   align-items:center;
   align-content: space-around;
   flex-direction: row;
}
.footer-contact{
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items:center;
    align-content: center;
    flex-direction: row;
}

.footer-email div{
   display: flex;
   flex-direction: column;
}
.donate-us{
    width: 80vw;
}
}


@media(max-width:520px){
    *{
        font-size: 14px;
    }
   .header{
       width:fit-content;
       height: 100vh;
   }
   .header-container{
    max-height: 200vh;
   }
   .header-main{
       
    height: 100vh;
   }
   .company-name{
       font-size: 1.4em;
       text-align: left;
   }
   .tagline{
       font-size: 0.8em;
   }
   .nav{
       margin-top:10px;
   }
    .nav-navbar > div{
        width:100vw;
        position: static;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;
    }
    .login{
        top:30px;
        right:20px;
    }
    .nav-close{
        margin-top:30px;
        margin-left:20px;
        
    }
    .nav-close a{
        display: block;
        width: 50px;
        font: 22px sans-serif;
        
    }
 
    .nav-navbar > .nav-list{
        padding: 10px 3px;
    }
    .login-form-container, .signin-form-container{
        width: 85vw;
        max-height: 120vh;
        margin:auto;
    }
    .login-form, .login-form-main{
        padding: 0;
        margin:10px 5px;
    }
    .login-form-main, .signin-form-main{
        padding: 20px;
        margin-bottom:10px;
    }
    
    
    /*
    .login{
        position: static;
        width:100vw;
        height:100px;
        background: rgb(8, 2, 41);
        flex-direction: column;
    }*/
   
    .log-form-title{
      display: none;
    }
    .login-form-container, .signin-form-container{
        width: 90%;
        margin:0 auto;
    }
    .login-form-main,
    .signin-form-main{
        width: 100%;
    }
    .login-form-main label, .login-form-main input,
.signin-form-main label,.signin-form-main input{
    
    width: fit-content;
}
.login-form-main input[type="submit"],
.signin-form-main input[type="submit"]{
    
    margin:auto;
}
    .login-form-header, .signin-form-header{
        width: 95%;
    }
    .login div{
        margin:0;
        padding:0;
    }
    .slider{
       
        width: 100vw;
        height: 50vh;
        z-index: 2;
    }
    .slider-img-container{
        width:307vw;
        min-height:100vh;
    }
    .slider-img-container > img{

        height:50vh;
    }
    .footer{
        width:100vw;
       
    }
    .footer-top{
        width: 100%;
        height: auto;
        grid-template-columns: auto;
        justify-content:center;
        align-content: flex-start;
        align-items: center;
    }
    .footer-top > div{
        margin: 10px;
    }
   .footer-top-left{
    width: 100%;
       margin: 10px;
   }
  
   .footer-sm{
    width: 100%;
       justify-content: flex-start;
       align-items:center;
       align-content: space-around;
       flex-direction: row;
   }
   .footer-contact{
       width: 90%;
       justify-content: flex-start;    
       align-items:center;
   }
   .footer-email div{
       display: flex;
       flex-direction: column;
       
   }
    .home-gallery{
        width: 90vw;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .home-gallery-container > .gallery-img{
        width: 150px;
        height: 150px;
    }
    .home-gallery-container{
        width: 150px;
        height: 150px;
        margin:5px 4px;
        padding:0;
    
        margin-bottom: 20px;
    }
    
    .gallery-img img{
        width: 150px;
        height: 150px;
    }
    .gallery-desc{
        margin:0;
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:0;
   
        
    }
    .main-container-grid{
        width: 100%;
        padding:0;
        margin: 30px auto;
    }
    .main-grid-item{
        width: 90%;
        padding:4px;
        margin: 0;
    }
    .main-img-desc div{
        font-size: 16px;
        width: 90%;
    }
    .main-grid-item > div p {
        font-size: 14px;
        line-height: 1.2;
    }
    .health-main-containe .grid-1{
        padding: 15px;
    }
    .health-img{
        height: 60vh;
        background-size:100vw 100vh;
        padding: 0;
        margin: 0;
    }
    .health-main-img{
        display: block;
        width:90%;
        margin:auto;
    }
    .health-main-img > img{
        width:100%;
        height: auto;
    }
    .health-main-container{
        width: 100%;
        min-height: 180vh;
        grid-template-columns: auto ;
        grid-template-rows: auto;
    }
    .health-grid-2{
        width:100vw;
        grid-template-columns: auto ;
        padding-left: 0;
        margin: 0;
    }
    .health-grid-2 > div{
        width: 90%;
        margin: 0 auto;
    }
    .services-grid{
        width: 100%;
    }
    .grid-1{
        height: fit-content;
        margin:10px;
    }
    .about-main-container{
        grid-template-columns: auto;
    }

    .sub-title{
        margin: 0;
        font-size: 16px;
        padding: 0;
    }

    .sub-list{
        margin:0;
        margin-left:0;
        padding: 0;
        
    }
    .sub-list li{
        margin-left: 30px;
    }
  
   *{
       width:fit-content;
       
       margin:0;
   }
   body{
       width:100vw;
       
       height: fit-content;
   }
   .header-bg{
       height:100vh;
       background-size: cover;
   }
   .donate-us{
       width: 100vw;
   }
   .donate-us  div,
   .donate-us  form
{
   width: 100%;
   margin:0;
   padding: 0;

   }
    .donate-us form label,
    .donate-us form select,
    .donate-us form input{
       width: 100%;
       margin:4px;
   padding: 8px;
   }

   .pay-option{
       width:100%;
       overflow: hidden;
       position: relative;
   }
   .pay-option:nth-child(odd){
       width: 95%;
       margin: 10px auto;

   }
   .pay-option:nth-child(odd) h2{
       text-align: center;
       width: 100%;

   }
   .pay-option:nth-child(even){
    width: 15%;
    height: auto;
  
}
   
   .donate-us input[type="submit"]{
       width:80%;
   }
   .contact-main{
       overflow: hidden;
   }
   .contact-main div,
   .contact-main p
{
    margin:0;
    padding: 5px;
}

.pay-down {
    width:fit-content;
    height: auto;
    top:20px;
    right:-30%;

    padding: 0;
}
.pay-down h2 a{
    width:fit-content;


}
.pay-option h2{
    width:auto;
    text-align: left;
    margin-left: -30px;
   }
   .map h2{
       width: 100%;
   }
}
@keyframes slider{
    0%{
        left:0;
    }
    25%{
        left:-100vw;
    }
    50%{
        left:-200vw;
    }
    75%{
        left:-100vw;
    }
    100%{
        left:0;
    }
}

@keyframes Show{
  0%{
   opacity: 0;
  }
  25%{
opacity: 0.3;
  }
  50%{
   opacity: 0.6;
  }
  70%{
    opacity: 0.7;
  }
  100%{
 opacity: 1;
  }
}
@keyframes fall{
    0%{
        opacity: 1;
       }
       25%{
     opacity: 0.7;
       }
       50%{
        opacity: 0.0;
       }
       70%{
         opacity: 0.7;
       }
       100%{
      opacity: 1;
       }
}

